<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <Property name="maze_generate">logs/generateMazeServer.log</Property>
        <Property name="maze_solve">logs/solveMazeServer.log</Property>

    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
        </Console>
        <RollingFile name="generate_maze" fileName="${maze_generate}" filePattern="${maze_generate}-%d{yyyy.MM.dd_HH.mm.ss}-%i.log" >
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
        <RollingFile name="solve_maze" fileName="${maze_solve}" filePattern="${maze_solve}-%d{yyyy.MM.dd_HH.mm.ss}-%i.log" >
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">

        </Root>
        <Logger name="generateMaze" level="debug">
            <AppenderRef ref="generate_maze"/>
        </Logger>
        <Logger name="solveMaze" level="debug">
            <AppenderRef ref="solve_maze"/>
        </Logger>
    </Loggers>
</Configuration>