@import "Menu-Bar.css"

#mainWindow {
    -fx-background-image: url("images/AliceMainBackground.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#Help, #generateMaze, #continueButton, #Properties, #LoadMaze, #muteButton {
    -fx-text-fill: white;
    -fx-font-family: "Calibari";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

#Help:hover, #generateMaze:hover, #continueButton:hover, #Properties:hover, #LoadMaze:hover, #muteButton:hover {
    -fx-background-color: #3c7fb1, linear-gradient(#fafdfe, #e8f5fc),linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}




