#chooseMaze {
    -fx-background-image: url("../../../../../resources/images/AliceFalling.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#chooseRowsLabel, #chooseColsLabel, #chooseMazeType {
    -fx-text-fill: white;
    -fx-font-family: "Calibari";
    -fx-font-size: 15px;
    -fx-font-weight: bold italic;
}

#returnToText, #MainWindowText {
    -fx-text-fill: white;
    -fx-font-family: "Calibari";
    -fx-font-size: 13px;
    -fx-font-weight: bold italic;
}

#EnterRowsText, #EnterColsText {
    -fx-text-fill: black;
    -fx-font-family: "Calibari";
    -fx-font-size: 12px;
    -fx-font-weight: bold italic;
}

#returnToMain, #Go, #loadMaze {
    -fx-text-fill: white;
    -fx-font-family: "Calibari";
    -fx-font-size: 13px;
    -fx-font-weight: bold italic;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#returnToMain:hover, #Go:hover, #loadMaze:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}